body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009688), url(poza.jpg);
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
    color: #ffffff;
    background-attachment: fixed;
}

.logo {
    width: 120px;
    position: fixed;
    top: 4%;
    left: 10%;
}

#sideNav {
    width: 250px;
    height: 100 vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* border: 3px solid green; */
}

.buttons input {
    font-size: medium;
    border-radius: 5px;
    background-color: rgb(0, 92, 61);
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#menuBtn {
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img {
    width: 25px;
    margin-top: 15px;
}

.training__title {
    font-size: 28px;
    font-weight: normal;
    width: 100%;
    text-align: center;
}

.training__select, .training__input {
    font-size: 20px;
    color: #ffffff;
    background-color: #191919;
    border: 2px solid #ffffff;
    margin-bottom: 1.5em;
    border: 2px solid #3498db;
    padding: 0.5em;
    width: 12.5em;
    outline: none;
    border-radius: 1.25em;
    transition: 0.25s;
    cursor: pointer;
}

.training__select:focus {
    border-color: #2ecc71;
}

.training__btn {
    font-size: 28px;
    color: white;
    text-align: center;
    text-decoration: none;
    background: none;
    padding: 0.5em;
    border: 2px solid #2ecc71;
    border-radius: 1.5em;
    margin-bottom: 1em;
    outline: none;
    transition: 0.25s;
    cursor: pointer;
}

.training__btn:hover {
    background-color: #2ecc71;
}

.training__btn:active {
    background-color: #0f3a21;
}

.training__container {
    width: 100vh;
    font-size: 24px;
    padding: 2em;
    background-color: #191919;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.training__container>.training__btn {
    width: 100%;
    margin-top: 0.5em;
    border-color: #ff0000;
}

.training__container>.training__btn:hover {
    background-color: #ff0000;
}

.training__container>.training__btn:active {
    background-color: #800000;
}

.training__container__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2e2e2e;
    padding: 1em;
    border: 2px solid #3498db;
    margin: 0.25em;
    max-width: 40vh;
    text-align: center;
}

.training__container__item__image {
    max-width: 40vh;
    border: 2px solid #2ecc71;
    align-self: center;
}

.form-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50vh;
    font-size: 24px;
    padding: 2em;
    background: #191919;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.form-submit select {
    font-size: 18px;
    color: white;
    border: 1px solid #2ecc71;
    background-color: black;
    padding: 0.5em;
    border-radius: 1em;
    margin: 0.5em;
}

.form-submit input {
    font-size: 18px;
    color: white;
    border: 1px solid #2ecc71;
    background-color: black;
    padding: 0.5em;
    border-radius: 1em;
    margin: 0.5em;
}

input[type="radio"] {
    width: 1em;
    height: 1em;
    color: red;
}

.table-scheduling {
    width: 80vw;
    line-height: 40px;
    border: 1px;
    background-color: #003833;
}

.table-scheduling th {
    border: 2px solid #3498db;
    font-size: 24px;
    padding: 0.5em;
    font-weight: normal;
}

.table-scheduling td {
    padding: 0.5em;
    border: 2px solid #2ecc71;
    font-size: 24px;
    font-weight: normal;
}

.btn-submit {
    font-size: 28px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #0f3a21;
    padding: 0.5em;
    border: 2px solid #2ecc71;
    border-radius: 1.5em;
    margin: 1em;
    outline: none;
    transition: 0.25s;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #2ecc71;
}

.btn-submit:active {
    transition: 0s;
    background-color: #0f3a21;
    border-color: #0044ff;
}

.red {
    border: 2px solid red;
}

.red:hover {
    background-color: red;
}

.red:active {
    transition: 0s;
    background-color: #0f3a21;
    border-color: #8a0000;
}

@media (max-width: 1320px) {
    .table-scheduling th {
        font-size: 14px;
        padding: 0em;
    }

    .table-scheduling td {
        font-size: 14px;
        padding: 0em;
        padding-left: 0.5em;
    }

    .buttons form {
        columns: 2;
        display: flex;
        justify-items: center;
    }

    .buttons form * {
        font-size: 12px;
    }

    .btn-submit {
        font-size: 16px;
    }
}

@media (max-width: 680px) {
    .buttons {
        margin: 3em;
    }

    .buttons form {
        display: flex;
        flex-direction: column;
    }

    .buttons form * {
        margin: 0em;
    }
}